/* basic layout */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border-radius: 8px; */
}

.page{
    width: 80%;
    margin: 0px auto;
    font-family: 'Montserrat', sans-serif;
}

.page *{
    margin: 20px;
}
/* header */
.page header{
    margin-top: 0px;
    /* background-color: #0086ff; */
}

.logo{
    width: 15%;
    margin-top: -0.01%;
    margin-bottom: 0px;
    padding-right: 1%;
    border-right: 1px solid lightslategray;
}

.nav{
    margin: 10px 0;
    font-size: 15px;
}

.nav a{
    margin: 5px;
    text-decoration: none;
    color: lightslategray;
}

/* image container */
.image-container{
    height: 400px;
    background-color:#e1d67a;
}
/* main background */
main{
    background-color: #0086ff;
}
/* main header */
.header-ofcolumn{
    height: 50px;
}
/* columns layout */
div[class*="-column"]{
    float: left;
    height: 300px;
    margin-top: 0;
}

div[class*="column"]{
    background-color: #abcfe7;
    margin-left: 0;
    margin-right: 0;
}

.side-column{
    width: calc(20% - 20px);
}

div[class*="middle"]{
    width: 60%;
    margin-left: 20px;
    margin-right: 20px;
}
/* clear-fix, only for main tag */
main::after{
    content: '';
    display: table;
    clear: both;
}
/* footer */
footer{
    height: 50px;
    background-color: #8801fe;
}