/* basic layout */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border-radius: 8px; */
}

.page{
    width: 80%;
    margin: 0px auto;
    font-family: 'Montserrat', sans-serif;
}

.page *{
    margin: 20px;
}
/* header */
.page header{
    margin-top: 0px;
    /* background-color: #0086ff; */
}

.logo{
    width: 15%;
    margin-top: -0.01%;
    margin-bottom: 0px;
    padding-right: 1%;
    border-right: 1px solid lightslategray;
}

/* nav */
.nav{
    margin: 2em 0;
    font-size: 1em;
}

.nav a{
    margin: 5px;
    text-decoration: none;
    color: lightslategray;
}

/* image container */
.image-container{
    background-color:#e1d67a;
    border-radius: 8px;
    height: 400px;
    overflow: hidden;
}

.image-container img{
    margin: 0;
    position: relative;
    top: -130px;
    left: -20px;
}
/* image-tile, trasparent-pad */
.image-title{
    position: relative;
    margin: 0px;
    height: 400px;
    top: -687px;
    display: flexbox;
    padding-left: 1em;
    padding-right: 30%;
    padding-top: 23%;
    color: white;
    background-color: rgba(100, 100, 100, 0.2);
    font-size: 0.8em;
}

.image-title h1{
    font-weight: normal;
}

/* main header */
.header-ofcolumn{
    font-size: 0.8em;
}

.header-ofcolumn *{
    margin: 0;
}

.header-ofcolumn p{
    color: lightslategray;
}

/* columns layout */
div[class*="-column"]{
    float: left;
    margin-top: 0;
}

div[class*="column"]{
    background-color: white;
    margin-left: 0;
    margin-right: 0;
}

.side-column{
    width: calc(25% - 20px);
}

div[class*="middle"]{
    width: 50%;
    margin-left: 20px;
    margin-right: 20px;
}

div[class*="column"] *{
     margin: 0;
}

/* columns-images */
div .gallery-container, 
.gallery-container div{
    border-radius: 8px;
    height: 200px;
    background-position: center;
    background-color: rgba(100, 100, 100, 0.2);
}

.side-column:nth-child(2) .gallery-container{
    background-image: url(../img/img-1.jpg);
}

.side-column:nth-child(4) .gallery-container{
    background-image: url(../img/img-3.jpg);
}

.gallery-container{
    background-image: url(../img/banner-2.jpg);
}
/* internal-column-layout */
article{
    font-size: 0.8em;
    color: lightslategray;
}

div[class*="column"] h2{
    margin: 1em 0;
}

/* clear-fix, only for main tag */
main::after{
    content: '';
    display: table;
    clear: both;
}
/* footer */
#footer{
    display: block;
    width: fit-content;
    margin: auto;
    line-height: 100%;
}

footer .heart{
    margin: 0;
    color: red;
    font-size: 2em;
    font-weight: bold;
    vertical-align: top;
}